{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p class="text-center">Un e-mail a été envoyé aux administrateurs de la plateforme pour valider votre inscription. Si ce n'est pas fait rapidement, n'hésitez pas à les contacter directement !</p>
{% endblock fos_user_content %}
